.regi-sum {
    text-align: center;
    background-color: burlywood;
    height: 279px;
    width: 365px;
    position: relative;
    left: 631px;
    
}
.regi-form   {
    margin-top: 150px;
    font-family: auto;
    color: chocolate;

}
.emailpass {
    margin-top: 20px;


}
.emailpass span {
    font-family: math;
    font-weight: 700;
}
.emailpass label {
    font-family: math;
    font-weight: 300;
}
.input {
    margin-left: 43px;
    padding: 6px;
    padding-right: 43px;
    border: 3px solid darkgreen;
    font-family: cursive;
    font-size: 15px;
    font-weight: 900;

}
.input-2 {
    margin-left: 15px;
    padding: 6px;
    padding-right: 43px;
    border: 3px solid darkgreen;
    font-family: cursive;
    font-size: 15px;
    font-weight: 900;
}
.btns {
    margin: 14px;
    padding: 3px 14px;
    border: 2px solid red;

}
